# Node modules
node_modules/
# Angular and Ionic specific folders
.angular/
.idea/
.vscode/
# Compiled files
dist/
# Capacitor builds
android/
ios/
www/
# Environment settings
*.env
*.env.*
# IDE and system files
.DS_Store
Thumbs.db
