<ion-header>
  <ion-toolbar>
    <ion-title>Gerar Avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="salvarAvaliacao()">
    <ion-item>
      <ion-label>Placa</ion-label>
      <ion-input [(ngModel)]="avaliacao.placa" name="placa" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Chassi</ion-label>
      <ion-input [(ngModel)]="avaliacao.chassi" name="chassi" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Marca/Modelo</ion-label>
      <ion-input [(ngModel)]="avaliacao.marcaModelo" name="marcaModelo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Hodômetro</ion-label>
      <ion-input type="number" [(ngModel)]="avaliacao.hodometro" name="hodometro" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Motor</ion-label>
      <ion-input [(ngModel)]="avaliacao.motor" name="motor" required></ion-input>
    </ion-item>

    <!-- Botões para tirar foto e selecionar vídeo -->
    <ion-item>
      <ion-label>Imagem da Placa</ion-label>
      <ion-button (click)="tirarFoto('placa')">Tirar Foto</ion-button>
      <ion-button (click)="escolherDaGaleria('placa')">Escolher da Galeria</ion-button>
    </ion-item>
    <ion-item *ngIf="avaliacao.imagemPlaca">
      <img [src]="'data:image/jpeg;base64,' + avaliacao.imagemPlaca" style="max-width: 100%; height: auto; object-fit: contain;">
    </ion-item>

    <ion-item>
      <ion-label>Imagem do Chassi</ion-label>
      <ion-button (click)="tirarFoto('chassi')">Tirar Foto</ion-button>
      <ion-button (click)="escolherDaGaleria('chassi')">Escolher da Galeria</ion-button>
    </ion-item>
    <ion-item *ngIf="avaliacao.imagemChassi">
      <img [src]="'data:image/jpeg;base64,' + avaliacao.imagemChassi" style="max-width: 100%; height: auto; object-fit: contain;">
    </ion-item>

    <ion-item>
      <ion-label>Imagem do Hodômetro</ion-label>
      <ion-button (click)="tirarFoto('hodometro')">Tirar Foto</ion-button>
      <ion-button (click)="escolherDaGaleria('hodometro')">Escolher da Galeria</ion-button>
    </ion-item>
    <ion-item *ngIf="avaliacao.imagemHodometro">
      <img [src]="'data:image/jpeg;base64,' + avaliacao.imagemHodometro" style="max-width: 100%; height: auto; object-fit: contain;">
    </ion-item>

    <ion-item>
      <ion-label>Imagem do Motor</ion-label>
      <ion-button (click)="tirarFoto('motor')">Tirar Foto</ion-button>
      <ion-button (click)="escolherDaGaleria('motor')">Escolher da Galeria</ion-button>
    </ion-item>
    <ion-item *ngIf="avaliacao.imagemMotor">
      <img [src]="'data:image/jpeg;base64,' + avaliacao.imagemMotor" style="max-width: 100%; height: auto; object-fit: contain;">
    </ion-item>

    <ion-item>
      <ion-label>Vídeo</ion-label>
      <input type="file" accept="video/*" (change)="escolherVideo($event)" />
    </ion-item>
    <ion-item *ngIf="avaliacao.video">
      <video [src]="avaliacao.video" controls style="max-width: 100%; height: auto;"></video>
    </ion-item>

    <ion-button expand="full" type="submit">Salvar Avaliação</ion-button>
  </form>
</ion-content>
